

body{
    font-family: Comic Sans MS, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    color: #de1010;
    max-width: 800px;
    margin: 0 auto;
    
}

   img{width:600px;}

h1 {
    color: #2c3e50;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}